

.card{
    border: 1px solid rgb(197, 197, 197);
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    width: 300px;
    height: 300px;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background:linear-gradient(to right, #186a99 0%, #a6cafe 100%);
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}

.card:hover{
    transform: scale(1.05);
}